AddDefaultCharset UTF-8

options -Indexes
Options -Multiviews

Options +FollowSymlinks

RewriteOptions Inherit

SetEnv SESSION_USE_TRANS_SID 0

RewriteEngine On
RewriteBase /phpcours/intro/TPlong/


RewriteCond %{THE_REQUEST}/public/([^\s?]*) [NC]
RewriteRule ^(.*) %1 [L,NE,R=301]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
